@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


body, .jumbotron, .footer, .text-muted {
  background: rgb(49, 4, 100) !important;
  color: #fff !important;
  font-family: 'Press Start 2P', cursive;
  font-size: 18pt;
  width: 100% !important;
}

.footer {
  padding: 20px;
}

.navbar {
  display: none;
}

h1, h2, h3, a, a:visited, a:hover, a:active {
  color: rgb(37, 167, 20) !important;
}

h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 72pt;
}

h2 {
  font-size: 36pt;
}

.bigger {
  font-size: 36pt;
  line-height: 1;
}
.scrollbutton {
  text-align: center;
  margin-bottom: 50vh;
  font-size: 400%;
  line-height: 0;
  padding-top: 30px;
}
.scrollbutton a, .scrollbutton a:hover, .scrollbutton a:active, .scrollbutton a:visited
{
  color: #fff !important;
  text-decoration: none;
}

.navhead {
  padding: 15px;
}

.clear {
  margin-top: 97vh;
}

@media(max-width:800px) {
  h1 {
    font-size: 36pt;
    text-align: center;
  }
  p, li, .footer, .text-muted {
    font-size: 11pt !important;
  }
  h2 {
    font-size: 18pt !important;
  }
  .jumbotron {
    margin: 2px;
    margin-top: 30px;
    padding: 0;
  }
}

#intro {
  padding-top: 60px;
}

#next .navhead {
  margin-left: -10px !important;
  padding: 16px;
  position: fixed;
  background: #223;
  width: 100%;
}

.navhead + .content {
  padding-top: 66px;
}